# Django and REST Framework
Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1

# Stock data and visualization
yfinance==0.2.32
pandas==2.1.3
numpy==1.26.2
mplfinance==0.12.10b0
Pillow==10.1.0
matplotlib==3.8.2

# Machine Learning
tensorflow==2.15.0
scikit-learn==1.3.2

# Utilities
python-dateutil==2.8.2
pytz==2023.3
